*{

	padding: 0;
	margin: 0;
	box-sizing: unset;
}

header{

	height: 577px;
}

video{

	position: fixed;
	z-index: -1;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

main{

	background-color: rgb(247, 247, 247);
}

h1{
	
	position: relative;
	top:8rem;
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
}

header h2{
 	
 	position: relative;
	top:8rem;
	font-size: 16px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
	text-align: center;
}

button{

	padding: 13px;
	background-color: transparent;
	color: white;
	border:2px solid white;
	text-align: center;
}

.button1 {
	position: relative;
	top:11rem;
	left: 33rem;

}

button:hover{

	background-color: white;
	color: black;
}

#puma {

	height: 72px;
	width: 109px;
	background-color: rgb(255,92,0);
	position: relative;
	left: 17rem;
	bottom: 44px;

}


#puma img{
	
	position: relative;
	left: 13px;
	top: 6px;

}

.blanche{

	height: 28px;
	width: 100%;
	background-color: white;
	position: relative;
	top: 28px;

}

.global{

	width: 756px;
	height: 255px;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	position: relative;
	bottom: 30px;

}

.container{


	max-width: 378px;
	perspective: 700px;
	padding: 0;


}

.container:hover .page {

	transform: rotateY(180deg);
}

.container, .devant, .arriere{

	width: 378px;
	height: 255px;

} 

.page{


	transition: .6s;
	position: relative;
	transform-style: preserve-3d;

} 

.devant, .arriere{


	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;

} 

.devant{

	z-index: 2;
	transform: rotateY(0deg);

}


.arriere{

	transform: rotateY(180deg);
	background: black;
	padding: 25px;
	color: white;
	text-align: center;
	width: 328px;
	height: 205px;

}

.devant2, .arriere2{

	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
 .devant2{

	z-index: 2;
	transform: rotateY(0deg);
}

 .container2{

	max-width: 378px;
	perspective: 700px;
	padding: 0;
}


.container2:hover .page2{

	transform: rotateY(180deg);

}

.container2, .devant2, .arriere2{

	width: 378px;
	height: 255px;
}


.page2{
	transition: .6s;
	position: relative;
	transform-style: preserve-3d;
}

.arriere2{

	transform: rotateY(180deg);
	background: black;
	padding: 25px;
	color: white;
	text-align: center;
	width: 328px;
	height: 205px;

}

.logo2{

	width: 70px;
	height: 70px;
	position: relative;
	left: 36rem;
	top: 5rem;
	border-bottom: 1px solid rgb(255,92,0);
}

footer{

	height: 307px;
	background-color: rgb(22,22,22);
}

.logo3{

	width: 138px;
}

.nav-bottom {
	padding-top: 1rem;
}

.nav-bottom ul li a{

	text-decoration: none;
	color: grey;
	padding-top: 1rem;

}

.nav-bottom ul li a:hover{

	color: white;
	border-bottom: 1px solid rgb(255,92,0);
}

.rs img{

	width: 30px;
	height: 30px;
	margin-right: 8px;

}

.rs{

	text-align: center;
	margin-top: 2rem;
}


.titre {
  text-align: center;
  height: 166px;
}

.cadreGeneral {
  margin: auto;
  display: flex;
  width: 756px;
  height: 377px;
}

.cadrePhoto {
  height: 377px;
  width: 378px;
}

.cadreFenetre {
  display: flex;
  flex-wrap: wrap;
  height: 377px;
  width: 378px;
}

.cadreText {
  width: 189px;
  height: 189px;
  background-color: white;
  /*line-height: 189px;*/
  text-align: center;

}

.cadreText h3 {

	padding: 70px 20px 0;
	font-size: 12px;
	font-weight: bolder;
}

.cadreText p {
  color: orange;
  font-size: 25px;
  font-weight: bolder;
  padding: 0;
  margin:0;
}

.cadreText span {
  display: inline-block;
}

.bouton2{

	border: 1px solid grey;
	position: relative;
	left: 36rem;
	color: grey;
	top: 3rem;
	font-size: 11px;
	padding: 8px 25px;
}

.finmain{

	height: 125px;
}

.partenaires{
	width: 100%;
	height: 135px;
	background-color: #e0e0e0;
	text-align: center;

}


footer p{

	color: grey;
	font-size: 15px;
	text-align: center;
	margin-top: 2rem;
}

.titre h2{

	color: black;
	font-size: 35px;
	font-weight: bolder;
}

.titre h3{

	font-size: 15px;
	color: grey;
}